/* There is only one CSS sheet, meaning that this sheet is responsible for all the styling done on the many html pages!! */

/* general box styling for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* small reset */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* styling for body: font family and background colour! */
body {

  font-family: 'Courier New', Courier, monospace;
  background-color: #f9fbfd;
}

/* padding for the wrapper class (which was applied for the <main>s for all html pages to keep it consistent! */
.wrapper {

  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* styling for nav bar*/
nav {

    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    margin: 0;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

/* for the title in navbar */
nav h1{

    font-size: 38px;
    color: #f9fbfd;
}

/* a class for any section that I want to make it appear to the left */
.float-L{

    display: flex;
    justify-content: start;
}

/* a class for any section that I want to make it appear to the right */
.float-R{

    display: flex;
    justify-content: end;  
}

/* for main */
main{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* for sections inside the main */
main section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 24px;
    width: 50%;  
}

/* for container class */
.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    font-size: 24px;
    width: 50%; 
}

/* class for anywhere I need a row */
.row{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* for all buttons */
button{

    padding: 5px 15px;
    margin: 20px 20px;
    border-radius: 5px;
    background-color: blueviolet;
    color: #f9fbfd;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

/* for all links in the buttons */
button a{

    background-color: blueviolet;
    color: #f9fbfd;
    text-decoration: none;
}

/* all paragraphs in main */
main p{

    margin: 20px 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    box-sizing: border-box;
    border-top: 5px solid blueviolet;
    width: 100%;
}

/* all buttons, applies when hovering over then */
button:hover {

    opacity: 70%;
    cursor: pointer;
}

/* when clicking any button */
button:active {

    opacity: 40%;
}

/* a class for another container. Note that I use many containers (1-3) and they may correspond to different html pages */
.container-2 {

    width: 100%;
}

/* the title inside named class */
.scoreStyling h1{

    font-size: 28px;
}

/* for the input boxes where input from user is required */
input{

    width: 100%;
    padding: 20px;
    box-shadow: blue;
    border: 5px solid blueviolet;
    border-radius: 5px;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}

/* for the table, its rows, and its columns */
table, th, td {

    border: 1px solid;
}

/* for the table */
table {

    width: 100%;
    text-align: center;
    font-size: 28px;
}

/* specific IDs for the submit and clear buttons */
#submit, #clearBtn {

    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}

/* applies these stylings whenever the screen size is adjusted to the given range */
@media (max-width: 1100px) {
 
    .container, main{

        width: 100%;
        margin-top: 0;
        overflow-x: hidden;
    }

    main h1, header h1 {

        font-size: 30px;

    }

    main p {

        font-size: 26px;
    }

    main button {

        font-size: 26px;
    }
}

/* applies these stylings whenever the screen size is adjusted to the given range */
@media (max-width: 700px) {
    
    .container, main{

        width: 100%;
        margin-top: 0;
        overflow-x: hidden;

    }

    main h1, header h1 {

        font-size: 22px;
        text-align: center;

    }

    main p {

        font-size: 18px;
    }

    main button {

        font-size: 18px;
    }

    table {

        width: 100%;
        text-align: center;
        font-size: 18px;
    }
    
    #submit, #clearBtn {
    
        font-size: 18px;
        display: inline;

    }
}

/* applies these stylings whenever the screen size is adjusted to the given range */
@media (max-width: 500px) {
    
    .container, main{

        width: 100%;
        margin-top: 18px;
        overflow-x: hidden;

    }

    main h1, header h1 {

        font-size: 18px;
        text-align: center;

    }

    main p {

        font-size: 15px;
    }

    main button {

        font-size: 15px;
    }

    table {

        width: 100%;
        text-align: center;
        font-size: 16px;
    }
    
    #submit, #clearBtn {
    
        font-size: 16px;
        display: inline;
    }
}